@charset "UTF-8";
@font-face {
  font-family: "Barlow Condensed";
  src: url("/fonts/BarlowCondensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Aboreto";
  src: url("/fonts/Aboreto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Exo";
  src: url("/fonts/Exo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Oswald";
  src: url("/fonts/Oswald.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html {
  min-width: 430px;
  scroll-behavior: smooth;
  color-scheme: dark; /* Obliga al navegador a usar modo oscuro */
}

a {
  text-decoration: none;
  color: #525252;
  transition: 0.4s;
}

a:hover {
  transition: 0.3s;
  color: #cecece;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Barlow Condensed", "Oswald", "Roboto", "Montserrat", "Bebas Neue", "Exo", "Aboreto", "Open Sans", sans-serif;
  color: #272727;
  background: white;
  display: block;
}

section {
  scroll-margin-top: 182px;
}

.spacer {
  height: 165px;
  background-color: white;
  background-image: url("../images/spacer_bg.png");
}

.dividers {
  height: 15px;
  background-image: url("../images/tf-bg.png");
}

.inicio-section {
  background: url(../images/bg_one_lr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Hace que el fondo no se mueva junto con el div */
  background-position: center;
  height: 750px;
  background-color: white;
  scroll-margin-top: 165px;
  will-change: background-position;
}

#proyectos {
  scroll-margin-top: 135px;
}

#effect-bg {
  background: url(../images/lines.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Hace que el fondo no se mueva junto con el div */
  background-position: center;
  height: 750px;
  scroll-margin-top: 165px;
  will-change: background-position;
}

.portfolio-section {
  background-image: url("../images/degradation7.png");
  background-repeat: repeat-x;
  height: 100%;
  scroll-margin-top: 120px;
}

.about-section {
  height: 100%;
  scroll-margin-top: 120px;
}

.info-section {
  height: 100%;
  scroll-margin-top: 120px;
}

#header-container {
  position: fixed;
  z-index: 9999; /* Asegúrate de que sea un valor alto */
  width: 100%;
}

#main-header {
  /* Header Superior Color Gris */
  background: #232323;
  height: 40px;
  width: 100%;
  display: flex;
  background-image: url("../images/tf-bg.png");
  background-repeat: repeat-x;
}

#top-header-left-side {
  /* Lado Izquierdo del Header Superior */
  width: 50%;
  height: 40px;
  float: left;
  display: flex;
  align-items: center;
  margin-left: 20px;
  color: #8f8f8f;
}

#img-left-header {
  /* Ícono de Correo */
  margin-left: 20px;
}

#mail-header {
  /* Texto de la Dirección de Correo */
  text-decoration: none;
  font-size: 1.2em;
  font-family: "Barlow Condensed";
  margin-left: 10px;
}

.bfl2-hover:hover {
  /* Efecto de enlace e-mail fade-in */
  color: #535353;
  transition: 0.3s;
}

.bfl2-hover {
  /* Efecto de enlace e-mail fade-out */
  color: #8f8f8f;
  transition: 0.4s;
}

#top-header-right-side {
  /* Lado Derecho del Header Superior */
  width: 50%;
  height: 40px;
  display: flex;
  justify-content: right;
}

#top-header-right-side-box {
  /* DIV Contenedor del Texto e Íconos RRSS */
  display: flex;
  align-items: center;
  margin-right: 15px;
}

#text-header {
  /* Texto lateral RRSS */
  color: #8f8f8f;
  text-decoration: none;
  font-family: "Barlow Condensed";
  font-size: 1.2em;
  margin-right: 5px;
  cursor: default;
  align-items: center;
}

#social-media-icons-header {
  /* Íconos RRSS */
  margin-right: 5px;
  margin-left: 5px;
  text-decoration: none;
}

.fa-brands-top {
  /* Estilo Custom Fade-Out Íconos RRSS */
  color: #535353;
  transition: 0.4s;
}

.fa-brands-top:hover {
  /* Estilo Custom Fade-In Íconos RRSS */
  color: #a5a5a5;
  transition: 0.3s;
}

#img-right-header {
  /* Íconos de RRSS */
  height: 35px;
  margin-right: 8px;
}

#bottom-header {
  /* DIV del Header Inferior */
  width: 100%;
  min-height: auto;
  background-image: url("../images/degradation.png");
  background-repeat: repeat-x;
}

#bottom-header-container {
  /* DIV del Header Inferior */
  width: 79%;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#page-logo {
  /* Imagen del Logo */
  height: 89px;
  align-items: end;
  margin-right: 20px;
  cursor: grab;
}

#bottom-header-left-menu {
  /* Menú NAV de Página */
  height: 100%;
  float: left;
  display: flex;
  align-items: end;
}

#menu-header {
  /* Estilos del Texto del Menú */
  color: #444444;
  text-decoration: none;
  font-size: 30px;
  font-family: "Barlow Condensed";
  margin-right: 10px;
}

#bottom-header-right-side {
  /* Lado Derecho del Header Inferior */
  width: 280px;
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: end;
  float: right;
}

input[type=text] {
  /* Estilos del Input de Suscribir */
  width: 250px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

input[type=submit] {
  /* Estilos del Botón de Suscribir */
  width: 80px;
  height: 30px;
  border: 1px solid #ccc;
  background-color: #d4d4d4;
  border-radius: 0 4px 4px 0;
}

input[type=submit]:hover {
  /* Efecto de Cambio de Color del Botón Suscribir */
  opacity: 0.8;
}

#bottom-header {
  top: 0;
  left: 0;
  height: 125px;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.3s ease;
}

#bottom-header.scrolled {
  height: 80px;
}

#navbar-size {
  transition: margin-top 0.3s ease;
}

#navbar-size.scrolled-nav {
  margin-top: -40px;
}

#header-container {
  position: fixed;
  width: 100%;
}

#bottom-header {
  background-color: white;
}

#degradation-div-top {
  background-image: url("../images/degradation6.png");
  background-repeat: repeat-x;
  height: 17px;
}

.navbar-nav {
  line-height: 1.5em;
}

nav {
  /* Estilos del NAV */
  float: left;
  width: 100%;
}

nav ul {
  /* Estilos del NAV UL */
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 100%;
  height: 100%;
}

nav ul li {
  /* Estilos del NAV UL LI */
  display: inline-block;
}

nav ul li a {
  /* Estilos del NAV UL LI A */
  padding: 0px;
  text-decoration: none;
  font-family: "Barlow Condensed";
  color: #444444;
  letter-spacing: -0.5px;
}

.nav-item {
  /* Estilo Custom del NAV Bootstrap */
  margin-top: 10px;
  text-align: right;
}

.navbar-nav > li > a {
  /* Estilos del NAVBAR NAV*/
  padding: 0;
  margin: 0;
  vertical-align: bottom;
  font-size: 30px;
}

.navbar-nav > li {
  margin-left: 0px;
  margin-right: 0px;
}

.navbar-toggler {
  /* Estilos del NAVBAR Toggler*/
  margin-top: 40px;
  margin-right: 4px;
}

.nav-item {
  /* Estilos del NAVBAR Toggler*/
  margin-right: 4px;
}

.container-fluid {
  /* Padding Custom del NAV Bootstrap */
  padding-right: 0;
  padding-left: 0;
}

#submit-navbar-button {
  /* Estilos del NAVBAR Subscription Form*/
  border-color: #dbdbdb;
  height: 30px;
  padding: 0 8px 0 8px;
  color: #858585;
}

#email-newsletter-component {
  /* Estilos del NAVBAR Subscription Form*/
  border-color: #ececec;
  border-right: white;
  height: 30px;
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  padding-top: 4px;
  width: 185px;
}

#submit-navbar-button:hover {
  /* Estilos del NAVBAR Subscription Form*/
  background-color: #e7e7e7;
}

.me-2 {
  /* Estilos del NAVBAR Subscription Form*/
  margin-right: 0 !important;
}

.form-control {
  /* Estilos del NAVBAR Subscription Form*/
  border-radius: 6px 0 0 6px;
}

.btn {
  /* Estilos del NAVBAR Subscription Form*/
  border-radius: 0 6px 6px 0;
}

/* Contenedor del loader */
#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Estilo del logo */
#loading-logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
  animation: fadeEffect 1.5s infinite alternate ease-in-out;
}

/* Animación de fade-in/fade-out */
@keyframes fadeEffect {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
/* Barra de carga */
#loading-bar {
  width: 300px;
  height: 10px;
  background: #f1f1f1;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

/* Animación de la barra de carga */
#loading-bar::before {
  content: "";
  display: block;
  width: 50px;
  height: 100%;
  background: linear-gradient(to right, #66a5da, #2e8cda);
  position: absolute;
  left: 0;
  border-radius: 5px;
  animation: loading-animation 1.5s infinite ease-in-out;
}

/* Animación de desplazamiento de la barra */
@keyframes loading-animation {
  0% {
    left: 0;
    width: 50px;
  }
  50% {
    left: 50%;
    width: 80px;
  }
  100% {
    left: 100%;
    width: 50px;
  }
}
/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000000000000000000000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  display: block;
  margin: auto;
  width: 60%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  position: absolute;
  top: 0px;
  right: 40px;
  color: #ffffff;
  font-size: 65px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.close:hover {
  transition: 0.3s;
  color: #ebebeb;
  text-shadow: 0 0 10px #000000;
}

/* Ocultar el modal en pantallas menores a 1000px */
@media screen and (max-width: 1000px) {
  #imageModal {
    display: none !important;
  }
}
#modalCaption {
  color: white;
  text-align: center;
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
  margin-top: 6px;
  display: none; /* Se mostrará solo cuando haya contenido */
  cursor: default;
}

main {
  /* DIV del Header Inferior */
  background-image: url("../images/degradation4.png");
  background-repeat: repeat-x;
  background-color: #ffffff;
}

#main-box {
  /* Caja de Imagen Central */
  max-width: 79%;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

#main-picture {
  /* Estilos de Imagen Caja de Imagen Central */
  border-radius: 15px;
  max-width: 100%;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#name-box {
  /* Caja del Nombre Central */
  background: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

#text-name {
  /* Estilos de Imagen Nombre Central */
  width: 100%;
  cursor: default;
  margin-top: 40px;
  margin-bottom: 40px;
}

#parrafo-main {
  /* Caja de Párrafo Central */
  background: white;
  display: inline-flex;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  font-family: "Barlow Condensed";
  color: #000000;
  cursor: default;
  line-height: 1.5;
}

#parrafo-main-2 {
  /* Caja de Párrafo Central 2 */
  background: white;
  display: inline-flex;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  font-family: "Barlow Condensed";
  color: #000000;
  cursor: default;
  line-height: 1.5;
}

#parrafo-main-mobile {
  /* Caja de Párrafo Central 2 */
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: "Barlow Condensed";
  color: #000000;
  cursor: default;
  line-height: 1.5;
  overflow-y: hidden;
}

#main-text-title {
  /* Título del Texto Central */
  color: #444444;
  font-weight: 400;
  font-size: 5.9vw;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  margin: auto;
  padding: 10px;
  text-shadow: 3px 3px 5px rgb(151, 151, 151);
  cursor: default;
}

#parrafo-div {
  /* Caja del Texto Central 1 */
  width: 75%;
  font-size: 2.5vw;
}

#parrafo-div-2 {
  /* Caja del Texto Central 2 */
  width: 75%;
  font-size: 2.5vw;
}

#parrafo-div-3 {
  /* Caja del Texto Central 2 */
  width: 75%;
  font-size: 2.5vw;
}

#picture-text {
  /* Texto Central 1 */
  width: 25%;
}

#picture-img {
  /* Imagen del Texto Central 1 */
  width: 100%;
  height: auto;
}

#parrafo-div-2 {
  /* Caja del Texto Central 2 */
  width: 75%;
  font-size: 2.5vw;
}

#picture-text-2 {
  /* Texto Central 2 */
  width: 25%;
}

#picture-img-2 {
  /* Imagen del Texto Central 2 */
  width: 100%;
  height: auto;
}

#h5-style {
  /* Estilo H5 del Carrusel */
  color: #000000;
}

#front-text {
  /* Estilos del Texto Central 1 */
  text-align: left;
}

#front-text-2 {
  /* Estilos del Texto Central 2 */
  text-align: right;
}

#h5-p-style {
  /* Estilo P H5 del Carrusel */
  color: #000000;
}

.subhead::first-letter {
  /* Estilo de primera letra grande */
  -webkit-initial-letter: 4;
  initial-letter: 4;
  color: orange;
  font-family: "Barlow Condensed";
  font-weight: bold;
  margin-right: 0.5em;
}

#inicio-main-box {
  /* Caja de Imagen Central */
  max-width: 79%;
  display: flex;
  height: min-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  flex-wrap: wrap;
  overflow: hidden;
}

#inicio-main-box-container {
  /* Estilos Sección Contacto */
  display: inline-flex;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: "Barlow Condensed";
  cursor: default;
  width: 100%;
}

#inicio-left-side {
  /* Estilos Sección Contacto */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#square-in-left {
  background-color: rgba(255, 255, 255, 0.623);
  width: 80%;
  border-radius: 10px;
  padding: 20px;
}

#square-in-right {
  background-color: rgba(255, 255, 255, 0.623);
  width: 50%;
  border-radius: 10px;
  padding: 10px;
}

#inicio-right-side {
  /* Estilos Sección Contacto */
  width: 50%;
  background-image: url("../images/colors.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 80vh;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos Sección Contacto */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Estilos Sección Contacto */
.inicio-container {
  border-radius: 5px;
  padding: 20px;
}

/* Estilos Sección Contacto */
#inicio-container-div-size {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* Estilos Sección Portfolio / CV */
* {
  box-sizing: border-box;
}

.main-cv {
  /* Estilos Sección Portfolio / CV */
  max-width: 79%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 60px;
  cursor: default;
  font-size: 23px;
}

#name-div {
  /* Estilos Sección Portfolio / CV */
  font-size: 40px;
  word-break: normal;
  text-align: center;
  color: #e0e0e0;
  font-weight: 900;
  margin-bottom: 20px;
}

#name-title-1 {
  /* Estilos Sección Portfolio / CV */
  font-size: 20px;
  word-break: normal;
  text-align: center;
  color: #e0e0e0;
  margin-bottom: 5px;
  font-weight: 800;
}

#name-title-2 {
  /* Estilos Sección Portfolio / CV */
  font-size: 15px;
  word-break: normal;
  text-align: center;
  color: #e0e0e0;
  margin-bottom: 5px;
}

#title-h2-cv {
  /* Estilos Sección Portfolio / CV */
  font-size: 50px;
}

#title-h3-cv {
  /* Estilos Sección Portfolio / CV */
  font-size: 26px;
  font-weight: 600;
}

#cv-links {
  /* Estilos Sección Portfolio / CV */
  color: #000000;
  text-decoration: none;
}

.cv-pics {
  /* Estilos Sección Portfolio / CV */
  border-radius: 10px;
  transition: 0.3s;
}

.cv-pics:hover {
  /* Estilos Sección Portfolio / CV */
  transform: scale(0.95);
  transition: 0.4s;
  cursor: pointer;
}

.row {
  /* Estilos Sección Portfolio / CV */
  margin: 8px -16px;
}

.row,
.row > .column {
  /* Estilos Sección Portfolio / CV */
  padding: 8px;
}

.column-1 {
  /* Estilos Sección Portfolio / CV */
  float: left;
  width: 50%;
}

.column-2 {
  /* Estilos Sección Portfolio / CV */
  float: left;
  width: 25%;
}

.row:after {
  /* Estilos Sección Portfolio / CV */
  content: "";
  display: table;
  clear: both;
}

.content {
  /* Estilos Sección Portfolio / CV */
  background-color: white;
  padding: 10px;
}

.full-container {
  /* Estilos Sección Portfolio / CV */
  width: 100%;
  display: inline-flex;
  background-color: #2f3b4f;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 6px 6px 8px #a5a5a5;
  background-image: url("../images/bg-cv-top.jpg");
  margin-bottom: 34px;
}

.left-container {
  /* Estilos Sección Portfolio / CV */
  width: 25%;
}

.center-container {
  /* Estilos Sección Portfolio / CV */
  width: 50%;
}

.right-container {
  /* Estilos Sección Portfolio / CV */
  width: 25%;
}

.contenedor-imagen {
  /* Estilos Sección Portfolio / CV */
  width: 300px;
  height: 300px;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 5px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px;
  cursor: default;
  transition: 400ms;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 12px #ffffff, inset 0 0 12px #ffffff;
  animation: pulso 2s linear 1s infinite;
}

@keyframes pulso {
  0% {
    box-shadow: 0 0 12px #ffffff, inset 0 0 12px #ffffff;
  }
  50% {
    box-shadow: 0 0 20px #ffffff, inset 0 0 20px #ffffff;
  }
  100% {
    box-shadow: 0 0 12px #ffffff, inset 0 0 12px #ffffff;
  }
}
.contenedor-imagen > img {
  /* Estilos Sección Portfolio / CV */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.youtube-video {
  /* Estilos Sección Portfolio / CV */
  aspect-ratio: 16/9;
  width: 100%;
  border-radius: 10px;
}

#contacto-main-box {
  /* Caja de Imagen Central */
  max-width: 70%;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

#main-box-container {
  /* Estilos Sección Contacto */
  background: white;
  display: inline-flex;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  cursor: default;
  width: 100%;
}

#contact-left-side {
  /* Estilos Sección Contacto */
  width: 30%;
}

#contact-center {
  /* Estilos Sección Contacto */
  width: 10%;
}

#contact-right-side {
  /* Estilos Sección Contacto */
  width: 60%;
  background-image: url("../images/map_location.jpg");
  height: 700px;
  background-attachment: local;
  background-position: center;
  box-shadow: 10px 10px 10px #888888;
  background-size: cover;
  border-radius: 15px; /* Bordes redondeados */
  overflow: hidden; /* Evita que la imagen de fondo sobresalga */
}

/* Estilos Sección Contacto */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#message {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Estilos Sección Contacto */
input[type=submit] {
  background-color: #464646;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  transition: 0.4s;
}

/* Estilos Sección Contacto */
input[type=submit]:hover {
  background-color: #9c9c9c;
  transition: 0.3s;
}

/* Estilos Sección Contacto */
.container {
  border-radius: 5px;
  padding: 10px;
}

/* Estilos Sección Contacto */
#form-size {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#about-main-box {
  /* Caja de Imagen Central */
  max-width: 70%;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

#about-mb-container {
  /* Estilos Sección Contacto */
  background: white;
  display: inline-flex;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 100px;
  font-family: "Barlow Condensed";
  cursor: default;
  width: 100%;
}

#about-left-side {
  /* Estilos Sección Contacto */
  width: 600px;
  background-image: url("../images/edgar2.jpg");
  height: 700px;
  background-attachment: local;
  background-position: top;
  background-size: cover;
  border-radius: 15px; /* Bordes redondeados */
  overflow: hidden; /* Evita que la imagen de fondo sobresalga */
}

#about-right-side {
  /* Estilos Sección Contacto */
  width: 60%;
}

#about-divider {
  /* Estilos Sección Contacto */
  width: 5%;
}

/* Estilos Sección Contacto */
#about-form-size {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

/* Estilos Sección Contacto */
#about-font {
  font-size: 40px;
}

#degradation-div {
  /* DIV de Imagen de Degradación del Top Footer */
  background-image: url("../images/degradation2.png");
  background-repeat: repeat-x;
  height: 17px;
  background-color: white;
}

footer {
  background: #232323;
}

#top-footer {
  /* Caja de Footer Superior */
  background: #EBEBEB;
  height: 54px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/topf-bg.png");
  background-repeat: repeat-x;
}

#top-footer-text {
  /* Estilos de Texto Footer Superior */
  background: rgba(255, 255, 255, 0);
  color: #606060;
  font-family: "Aboreto";
  font-weight: 400;
  font-size: 25px;
  line-height: 1.3;
  letter-spacing: 10px;
  text-align: center;
  text-decoration: none;
}

#bottom-footer {
  /* Caja de Footer Inferior */
  background: #232323;
  height: 340px;
  background-image: url("../images/degradation3.png");
  background-repeat: repeat-x;
}

#bottom-footer-logo {
  /* Caja del Logo Footer Inferior */
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  padding: 10px;
  cursor: grab;
}

#bottom-logo {
  /* Estilos del Logo Footer Inferior */
  width: 100%;
  align-items: center;
}

#social-media-footer {
  /* Caja de RRSS del Footer Inferior */
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

#social-media-icons-footer {
  /* Íconos RRSS Footer */
  margin-left: 7.5px;
  margin-right: 7.5px;
  text-decoration: none;
}

#bottom-footer-nav {
  /* Estilos del Logo Footer Inferior */
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

#bottom-footer-links {
  /* Enlaces del NAV del Footer */
  font-size: 30px;
  margin-right: 20px;
  font-family: "Barlow Condensed";
}

#disclaimer-div {
  /* DIV de Disclaimer */
  background: #1a1a1a;
  text-align: center;
  background-image: url("../images/tf-bg.png");
  background-repeat: repeat-x;
}

#disclaimer-text {
  /* Texto de Disclaimer */
  color: #474747;
  text-transform: uppercase;
  font-size: 15px;
  cursor: default;
}

#degradation-div-disclaimer {
  /* DIV de Imagen de Degradación del Disclaimer */
  background-image: url("../images/degradation5.png");
  background-repeat: repeat-x;
  height: 17px;
}

.bfl-hover:hover {
  /* Efecto de enlace nav fade-in */
  color: #8f8f8f;
  transition: 0.3s;
}

.bfl-hover {
  /* Efecto de enlace nav fade-out */
  color: #4d4d4d;
  transition: 0.4s;
}

.fa-brands-footer {
  /* Estilo Custom Fade-Out Footer RRSS */
  color: #a5a5a5;
  transition: 0.4s;
}

.fa-brands-footer:hover {
  /* Estilo Custom Fade-In Footer RRSS */
  color: #535353;
  transition: 0.3s;
}

.boton-hover {
  /* Estilo Custom Botón Go to the Top */
  width: 64px;
  height: 64px;
  transition: 0.4s;
}

.imglink:hover .boton-hover {
  /* Estilo Custom Botón Go to the Top */
  opacity: 0.4;
  transition: 0.3s;
}

.nav-vertical {
  /* Estilo Custom Botón Go to the Top */
  position: relative;
  bottom: -2.8em;
  right: 1em;
  float: right;
}

.btn-nav-vertical {
  /* Estilo Custom Botón Go to the Top */
  display: block;
}

#error-page-button {
  /* Botón de Inicio Página 404.html */
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 15px;
  border-width: 1px;
}

@media screen and (max-width: 665px) {
  #top-header-left-side {
    display: none;
  }
}
@media screen and (max-width: 665px) {
  #text-header {
    display: none;
  }
}
@media screen and (max-width: 665px) {
  #top-header-right-side {
    align-self: center;
    width: 100%;
  }
}
@media screen and (max-width: 665px) {
  #bottom-header {
    width: 100%;
  }
}
@media screen and (max-width: 1365px) {
  #main-box {
    max-width: 90%;
  }
}
@media screen and (max-width: 1500px) {
  #inicio-main-box {
    max-width: 90%;
  }
}
@media screen and (max-width: 989px) {
  #main-box {
    padding-top: 50px;
  }
}
@media screen and (max-width: 592px) {
  #page-logo {
    height: 13vw;
  }
}
@media screen and (max-width: 1365px) {
  #name-box {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 665px) {
  #parrafo-main {
    display: none;
  }
}
@media screen and (max-width: 665px) {
  #parrafo-main-2 {
    display: none;
  }
}
@media screen and (min-width: 666px) {
  #parrafo-main-mobile {
    display: none;
  }
}
@media screen and (max-width: 1365px) {
  #front-text {
    font-size: 2.8vw;
  }
}
@media screen and (max-width: 1365px) {
  #front-text-2 {
    font-size: 2.8vw;
  }
}
@media screen and (max-width: 665px) {
  #front-text {
    font-size: 25px;
    text-align: justify;
    hyphens: auto;
  }
}
@media screen and (max-width: 665px) {
  #front-text-2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 533px) {
  #top-footer {
    height: 80px;
  }
}
@media screen and (max-width: 665px) {
  #bottom-footer-links {
    font-size: 20px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 665px) {
  #bottom-footer-nav {
    margin-top: 20px;
  }
}
@media screen and (max-width: 665px) {
  #bottom-footer {
    height: 300px;
  }
}
@media screen and (max-width: 533px) {
  #bottom-footer {
    height: 260px;
  }
}
@media screen and (max-width: 665px) {
  #main-picture {
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}
@media screen and (max-width: 665px) {
  #parrafo-div {
    width: 100%;
  }
}
@media screen and (max-width: 665px) {
  #parrafo-div-2 {
    width: 100%;
  }
}
@media screen and (max-width: 665px) {
  #parrafo-div-3 {
    width: 100%;
  }
}
@media screen and (max-width: 665px) {
  #picture-text {
    display: none;
  }
}
@media screen and (max-width: 665px) {
  #picture-text-2 {
    display: none;
  }
}
@media screen and (max-width: 665px) {
  #bottom-footer-nav {
    margin-top: 40px;
  }
}
@media screen and (max-width: 665px) {
  #front-text-2 {
    text-align: left;
  }
}
@media screen and (max-width: 665px) {
  .nav-vertical {
    display: none;
  }
}
@media screen and (max-width: 471px) {
  #disclaimer-text {
    font-size: 13px;
  }
}
/* Responsivo del Layout Sección Portfolio/CV */
@media screen and (max-width: 900px) {
  .column-1 {
    width: 50%;
  }
}
/* Responsivo del Layout Sección Portfolio/CV */
@media screen and (max-width: 600px) {
  .column-1 {
    width: 100%;
  }
}
/* Responsivo del Layout Sección Portfolio/CV */
@media screen and (max-width: 900px) {
  .column-2 {
    width: 50%;
  }
}
/* Responsivo del Layout Sección Portfolio/CV */
@media screen and (max-width: 600px) {
  .column-2 {
    width: 100%;
  }
}
/* Diseño responsivo Sección Portfolio/CV */
@media screen and (max-width: 665px) {
  .main-cv {
    max-width: 90%;
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
/* Diseño responsivo Sección Portfolio/CV */
@media screen and (max-width: 665px) {
  #name-div {
    font-size: 25px;
    word-break: normal;
    font-weight: 600;
    margin-bottom: 10px;
  }
}
/* Diseño responsivo Sección Portfolio/CV */
@media screen and (max-width: 965px) {
  .full-container {
    justify-content: center;
  }
}
/* Diseño responsivo Sección Portfolio/CV */
@media screen and (max-width: 1504px) {
  .left-container {
    display: none;
  }
}
/* Diseño responsivo Sección Portfolio/CV */
@media screen and (max-width: 1504px) {
  .center-container {
    width: 100%;
  }
}
/* Diseño responsivo Sección Portfolio/CV */
@media screen and (max-width: 1504px) {
  .right-container {
    display: none;
  }
}
/* Diseño responsivo Sección Portfolio/CV */
@media screen and (max-width: 665px) {
  .contenedor-imagen {
    width: 200px;
    height: 200px;
  }
}
/* Diseño responsivo Sección Portfolio/CV */
@media screen and (max-width: 665px) {
  #name-title-1 {
    font-size: 15px;
    margin-bottom: 3px;
  }
}
/* Diseño responsivo Sección Portfolio/CV */
@media screen and (max-width: 665px) {
  #name-title-2 {
    font-size: 12px;
    margin-bottom: 3px;
  }
}
/* Diseño responsivo Sección Blog */
@media screen and (max-width: 1000px) {
  #blog-main {
    display: inline-block;
    width: 100%;
  }
}
/* Diseño responsivo Sección Blog */
@media screen and (max-width: 1000px) {
  #blog-left-side {
    width: 100%;
    margin-bottom: 30px;
  }
}
/* Diseño responsivo Sección Blog */
@media screen and (max-width: 1000px) {
  #blog-right-side {
    width: 100%;
  }
}
/* Diseño responsivo Sección Blog */
@media screen and (max-width: 1000px) {
  .blog-contenedor-imagen {
    width: 90%;
    max-width: 200px;
    margin-bottom: 0;
  }
}
/* Diseño responsivo Sección Blog */
@media screen and (max-width: 1000px) {
  #responsive-hr {
    display: none;
  }
}
/* Diseño responsivo Sección Blog */
@media screen and (max-width: 1000px) {
  #menu-blog-text {
    display: none;
  }
}
/* Diseño responsivo Sección Blog */
@media screen and (max-width: 1000px) {
  #blog-left-side-rrss {
    display: none;
  }
}
/* Diseño responsivo Sección Blog */
@media screen and (max-width: 1000px) {
  #menu-blog-title {
    text-align: center;
  }
}
/* Diseño responsivo Sección Blog */
@media screen and (max-width: 1000px) {
  #h1-blog {
    font-size: 30px;
    font-weight: 700;
  }
}
/* Diseño responsivo Sección Blog */
@media screen and (max-width: 665px) {
  #centered-img {
    width: 100%;
  }
}
/* Diseño responsivo Navbar de Bootstrap */
@media screen and (min-width: 1078px) {
  .navbar-nav {
    margin-top: 50px;
  }
}
/* Diseño responsivo Sección Contacto */
@media screen and (max-width: 1365px) {
  #main-box-container {
    display: inline-block;
    margin-top: 0px;
  }
}
@media screen and (max-width: 500px) {
  #contacto-main-box {
    max-width: 80%;
  }
}
/* Diseño responsivo Sección Contacto */
@media screen and (max-width: 1365px) {
  #contact-right-side {
    box-shadow: 20px 20px 35px #888888;
    width: 100%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Diseño responsivo Sección Contacto */
@media screen and (max-width: 1365px) {
  #contact-left-side {
    margin-bottom: 60px;
    width: 100%;
  }
}
/* Diseño responsivo Sección Contacto */
@media screen and (max-width: 1365px) {
  #form-size {
    width: 60%;
  }
}
/* Diseño responsivo Sección Contacto */
@media screen and (max-width: 600px) {
  #form-size {
    width: 100%;
  }
}
/* Diseño responsivo Sección Inicio */
@media screen and (max-width: 600px) {
  #inicio-main-box-container {
    display: inline-block;
    margin-top: 0px;
  }
}
/* Diseño responsivo Sección Inicio */
@media screen and (max-width: 969px) {
  #inicio-left-side {
    font-size: 10px;
  }
}
/* Diseño responsivo Sección Inicio */
@media screen and (max-width: 600px) {
  #inicio-left-side {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
  }
}
/* Diseño responsivo Sección Inicio */
@media screen and (min-width: 545px) and (max-width: 600px) {
  #inicio-left-side {
    margin-top: 10px;
  }
}
/* Diseño responsivo Sección Inicio */
@media screen and (min-width: 545px) and (max-width: 600px) {
  #inicio-right-side {
    margin-top: 10px;
  }
}
@media screen and (max-width: 600px) {
  #square-in-left {
    width: 90%;
  }
}
/* Diseño responsivo Sección Inicio */
@media screen and (max-width: 600px) {
  #inicio-right-side {
    width: 90%;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Diseño responsivo Sección Sobre Mí */
@media screen and (max-width: 500px) {
  #about-main-box {
    max-width: 80%;
  }
}
/* Diseño responsivo Sección Sobre Mí */
@media screen and (max-width: 1365px) {
  #about-mb-container {
    display: inline-block;
    margin-top: 0px;
  }
}
/* Diseño responsivo Sección Sobre Mí */
@media screen and (max-width: 1365px) {
  #about-left-side {
    width: 600px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* Diseño responsivo Sección Sobre Mí */
@media screen and (max-width: 860px) {
  #about-left-side {
    width: 100%;
    height: 500px;
  }
}
/* Diseño responsivo Sección Sobre Mí */
@media screen and (max-width: 1365px) {
  #about-right-side {
    margin-top: 20px;
    width: 100%;
  }
}
/* Diseño responsivo Sección Sobre Mí */
@media screen and (max-width: 1365px) {
  #about-form-size {
    width: 60%;
  }
}
/* Diseño responsivo Sección Sobre Mí */
@media screen and (max-width: 575px) {
  #about-form-size {
    width: 100%;
  }
}
/* Diseño responsivo Sección Sobre Mí */
@media screen and (max-width: 730px) {
  #about-font {
    font-size: 25px;
  }
}
/* Diseño responsivo Sección Sobre Mí */
@media screen and (min-width: 1921px) {
  #about-font {
    font-size: 1.6vw;
  }
}
/* Diseño responsivo Sección Sobre Mí */
@media screen and (min-width: 1365px) and (max-width: 1920px) {
  #about-font {
    font-size: 1.7vw;
  }
}
/* Diseño responsivo Sección Sobre Mí */
@media screen and (max-width: 1365px) {
  #about-mb-container {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1000px) {
  #download-link {
    display: none;
  }
}
@media screen and (max-width: 570px) {
  .navbar-toggler {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 1199px) {
  #bottom-header {
    height: 80px;
  }
}
@media screen and (max-width: 1199px) {
  #bottom-header.scrolled {
    height: 80px;
  }
}
@media screen and (max-width: 1199px) {
  #navbar-size {
    margin-top: -40px;
  }
}
@media screen and (max-width: 1199px) {
  .spacer {
    height: 120px;
  }
}
@media screen and (max-width: 1199px) and (min-width: 601px) {
  #bottom-header {
    background-image: url("../images/degradation10.png");
  }
}
@media screen and (max-width: 600px) {
  #bottom-header {
    background-image: url("../images/degradation9.png");
  }
}
@media screen and (max-width: 600px) {
  #effect-bg {
    background: none;
  }
}
@media screen and (max-width: 600px) {
  .inicio-section {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 1199px) {
  .offcanvas {
    background-image: url("../images/topf-bg.png");
    max-width: 175px;
    max-height: 255px;
    border-radius: 15px 0 0 15px;
    margin-top: 40px;
    box-shadow: 8px 3px 4px 2px #6b6b6b;
  }
}
@media screen and (max-width: 1199px) {
  .offcanvas-body {
    padding-top: 0;
  }
}
@media screen and (max-width: 1000px) {
  .cv-pics:hover {
    transform: none;
    transition: none;
  }
}

/*# sourceMappingURL=style.css.map */
