html {
    min-width: 430px;
    scroll-behavior: smooth;
    color-scheme: dark; /* Obliga al navegador a usar modo oscuro */
}

a {
    text-decoration: none;
    color: #525252;
    transition: 0.4s;
}

a:hover {
    transition: 0.3s;
    color: #cecece;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', 'Oswald', 'Roboto', 'Montserrat', 'Bebas Neue', 'Exo', 'Aboreto', 'Open Sans', sans-serif;
    color: #272727;
    background: white;
    display: block;
    user-select: none;
}

  section {
    scroll-margin-top: 182px;
  }

  .spacer {
    height: 165px;
    background-color: white;
    background-image: url("../images/spacer_bg.png");
  }

  .dividers {
    height: 15px;
    background-image: url("../images/tf-bg.png");
  }

  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    border-color: #bbbbbb;
    background-color: #272727;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease-in-out;
  }
  
  #btn-back-to-top.show {
    opacity: 1;
    pointer-events: auto;
  }

  #btn-back-to-top:hover {
    border-color: #ffffff;
  }