html {
    min-width: 430px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #525252;
    transition: 0.4s;
}

a:hover {
    transition: 0.3s;
    color: #cecece;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', 'Bebas Neue', 'Montserrat', sans-serif;
    color: #272727;
    background: white;
    display: block;
}

  section {
    scroll-margin-top: 182px;
  }

  .spacer {
    height: 165px;
    background-color: white;
    background-image: url("../images/spacer_bg.png");
  }

  .dividers {
    height: 15px;
    background-image: url("../images/tf-bg.png");
  }

  .inicio-section {
    background: url(../images/bg_one_lr.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Hace que el fondo no se mueva junto con el div */
    background-position: center;
    height: 750px;
    background-color: white;
    scroll-margin-top: 165px;
    will-change: background-position;
  }

  #proyectos {
    scroll-margin-top: 135px;
  }

  #effect-bg {
    background: url(../images/lines.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Hace que el fondo no se mueva junto con el div */
    background-position: center;
    height: 750px;
    scroll-margin-top: 165px;
    will-change: background-position;
  }

  .portfolio-section{
    background-image: url("../images/degradation7.png");
    background-repeat: repeat-x;
    height: 100%;
    scroll-margin-top: 120px;
  }

  .about-section{
    height: 100%;
    scroll-margin-top: 120px;
  }

  .info-section{
    height: 100%;
    scroll-margin-top: 120px;
  }