html {
    min-width: 430px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #525252;
    transition: 0.4s;
}

a:hover {
    transition: 0.3s;
    color: #cecece;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow Condensed', 'Bebas Neue', 'Montserrat', sans-serif;
    color: #272727;
    background: white;
}