#bottom-header {
    /* DIV del Header Inferior */
    width: 100%;
    min-height: auto;
    background-image: url("../images/degradation.png");
    background-repeat: repeat-x;
}

#bottom-header-container {
    /* DIV del Header Inferior */
    width: 79%;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#page-logo {
    /* Imagen del Logo */
    height: 89px;
    align-items: end;
    margin-right: 20px;
    cursor: grab;
}

#bottom-header-left-menu {
    /* Menú NAV de Página */
    height: 100%;
    float: left;
    display: flex;
    align-items: end;
}

#menu-header {
    /* Estilos del Texto del Menú */
    color: #444444;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Barlow Condensed';
    margin-right: 10px;
}

#bottom-header-right-side {
    /* Lado Derecho del Header Inferior */
    width: 280px;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: end;
    float: right;
}

input[type=text] {
    /* Estilos del Input de Suscribir */
    width: 250px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

input[type=submit] {
    /* Estilos del Botón de Suscribir */
    width: 80px;
    height: 30px;
    border: 1px solid #ccc;
    background-color: #d4d4d4;
    border-radius: 0 4px 4px 0;
}

input[type=submit]:hover {
    /* Efecto de Cambio de Color del Botón Suscribir */
    opacity: 0.8;
}

#bottom-header {
    top: 0;
    left: 0;
    height: 125px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: height 0.3s ease;
}

#bottom-header.scrolled {
    height: 80px;
}

#navbar-size {
    transition: margin-top 0.3s ease;
}

#navbar-size.scrolled-nav {
    margin-top: -40px;
}

#header-container {
    position: fixed;
    width: 100%;
}

#bottom-header {
    background-color: white;
}

#degradation-div-top {
    background-image: url("../images/degradation6.png");
    background-repeat: repeat-x;
    height: 17px;
}