#contacto-main-box {
  /* Caja de Imagen Central */
  max-width: 70%;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

#main-box-container {
    /* Estilos Sección Contacto */
    background: white;
    display: inline-flex;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    cursor: default;
    width: 100%;
}

#contact-left-side {
    /* Estilos Sección Contacto */
    width: 30%;
}

#contact-center {
  /* Estilos Sección Contacto */
  width: 10%;
}

#contact-right-side {
    /* Estilos Sección Contacto */
    width: 60%;
    background-image: url("../images/map_location.jpg");
    height: 700px;
    background-attachment:local;
    background-position: center;
    box-shadow: 10px 10px 10px #888888;
    background-size: cover;
    border-radius: 15px; /* Bordes redondeados */
    overflow: hidden; /* Evita que la imagen de fondo sobresalga */
}

/* Estilos Sección Contacto */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  #message {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
/* Estilos Sección Contacto */
  input[type=submit] {
    background-color: #464646;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: 0.4s;
  }
  
/* Estilos Sección Contacto */
  input[type=submit]:hover {
    background-color: #9c9c9c;
    transition: 0.3s;
  }
  
/* Estilos Sección Contacto */
  .container {
    border-radius: 5px;
    padding: 10px;
  }

/* Estilos Sección Contacto */
  #form-size {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }