main {
  /* DIV del Header Inferior */
  background-image: url("../images/degradation4.png");
  background-repeat: repeat-x;
  background-color: #ffffff;
}

.inicio-section {
  background: url(../images/bg_one_lr.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Hace que el fondo no se mueva junto con el div */
  background-position: center;
  height: 750px;
  background-color: white;
  scroll-margin-top: 165px;
  will-change: background-position;
}

#inicio-main-box {
    /* Caja de Imagen Central */
    max-width: 79%;
    display: flex;
    height:min-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    flex-wrap: wrap;
    overflow: hidden;
}

#effect-bg {
  background: url(../images/lines.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Hace que el fondo no se mueva junto con el div */
  background-position: center;
  height: 750px;
  scroll-margin-top: 165px;
  will-change: background-position;
}

#inicio-main-box-container {
    /* Estilos Sección Contacto */
    display: inline-flex;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Barlow Condensed';
    cursor: default;
    width: 100%;
}

#inicio-left-side {
    /* Estilos Sección Contacto */
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#square-in-left {
    background-color: rgba(255, 255, 255, 0.623);
    width: 80%;
    border-radius: 10px;
    padding: 20px;
}

#square-in-right {
    background-color: rgba(255, 255, 255, 0.623);
    width: 50%;
    border-radius: 10px;
    padding: 10px;
}

#inicio-right-side {
    width: 50%;
    background-image: url("../images/edgar_front.png");
    background-repeat: no-repeat;
    background-size:contain;
    height: 700px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}