#blog-main {
    /* Estilos Sección Blog */
    background: white;
    display: inline-flex;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    font-family: 'Barlow Condensed';
    cursor: default;
    width: 100%;
}

#blog-left-side {
    /* Estilos Sección Blog */
    width: 24%;
}

#blog-center-divider {
    /* Estilos Sección Blog */
    width: 2%;
}

#blog-right-side {
    /* Estilos Sección Blog */
    width: 74%;
}

#blog-left-side-content {
    /* Estilos Sección Blog */
    width: 100%;
    height: auto;
    background-color: #2f3b4f;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 6px 6px 8px #a5a5a5;
    background-image: url("../images/bg-blog-top.png");
}

#blog-right-side-content {
    /* Estilos Sección Blog */
    width: 100%;
    background-color: #fafafa;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 6px 6px 8px #a5a5a5;
}

.blog-contenedor-imagen {
    /* Estilos Sección Blog */
    width: 90%;
    overflow: hidden;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    margin-bottom: 30px;
}

.blog-contenedor-imagen>img {
    /* Estilos Sección Blog */
    width: 100%;
    height: 100%;
}

#blog-left-side-rrss {
    /* Estilos Sección Blog */
    background-color: #fafafa;
    border-radius: 10px;
    padding: 10px;
}

#social-media-container {
    /* Estilos Sección Blog */
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#menu-blog-title {
    /* Estilos Sección Blog */
    font-size: 50px;
    font-weight: 600;
    color: #4d4d4d;
    overflow: hidden;
}

#menu-blog-text {
    /* Estilos Sección Blog */
    font-size: 20px;
    color: #4d4d4d;
    margin-bottom: 0;
    overflow: hidden;
}

#h1-blog {
    /* Estilos Sección Blog */
    font-size: 50px;
}

#h2-blog {
    /* Estilos Sección Blog */
    font-size: 40px;
}

#h3-blog {
    /* Estilos Sección Blog */
    font-size: 30px;
}

#p-blog {
    /* Estilos Sección Blog */
    font-size: 25px;
}