#about-main-box {
    /* Caja de Imagen Central */
    max-width: 70%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

#about-mb-container {
    /* Estilos Sección Contacto */
    background: white;
    display: inline-flex;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    font-family: 'Barlow Condensed';
    cursor: default;
    width: 100%;
}

#about-left-side {
    /* Estilos Sección Contacto */
    width: 600px;
    background-image: url("../images/edgar3.jpg");
    height: 700px;
    background-attachment: local;
    background-position:top;
    background-size: cover;
    border-radius: 15px; /* Bordes redondeados */
    overflow: hidden; /* Evita que la imagen de fondo sobresalga */
}

#about-right-side {
    /* Estilos Sección Contacto */
    width: 60%;
}

#about-divider {
    /* Estilos Sección Contacto */
    width: 5%;
}

/* Estilos Sección Contacto */
#about-form-size {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  /* Estilos Sección Contacto */
#about-font {
    font-size: 40px;
  }