/* Estilos Sección Portfolio / CV */
* {
    box-sizing: border-box;
}

.main-cv {
    /* Estilos Sección Portfolio / CV */
    max-width: 79%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 60px;
    cursor: default;
    font-size: 23px;
}

#name-div {
    /* Estilos Sección Portfolio / CV */
    font-size: 40px;
    word-break: normal;
    text-align: center;
    color: #e0e0e0;
    font-weight: 900;
    margin-bottom: 20px;
}

#name-title-1 {
    /* Estilos Sección Portfolio / CV */
    font-size: 20px;
    word-break: normal;
    text-align: center;
    color: #e0e0e0;
    margin-bottom: 5px;
    font-weight: 800;
}

#name-title-2 {
    /* Estilos Sección Portfolio / CV */
    font-size: 15px;
    word-break: normal;
    text-align: center;
    color: #e0e0e0;
    margin-bottom: 5px;
}

#title-h2-cv {
    /* Estilos Sección Portfolio / CV */
    font-size: 50px;
}

#title-h3-cv {
    /* Estilos Sección Portfolio / CV */
    font-size: 26px;
    font-weight: 600;
}

#cv-links {
    /* Estilos Sección Portfolio / CV */
    color: #000000;
    text-decoration: none;
}

.cv-pics {
    /* Estilos Sección Portfolio / CV */
    border-radius: 10px;
    transition: 0.3s;
}

.cv-pics:hover {
    /* Estilos Sección Portfolio / CV */
    transform: scale(0.95);
    transition: 0.4s;
    cursor: pointer;
}

.row {
    /* Estilos Sección Portfolio / CV */
    margin: 8px -16px;
}

.row,
.row>.column {
    /* Estilos Sección Portfolio / CV */
    padding: 8px;
}

.column-1 {
    /* Estilos Sección Portfolio / CV */
    float: left;
    width: 50%;
}

.column-2 {
    /* Estilos Sección Portfolio / CV */
    float: left;
    width: 25%;
}

.row:after {
    /* Estilos Sección Portfolio / CV */
    content: "";
    display: table;
    clear: both;
}

.content {
    /* Estilos Sección Portfolio / CV */
    background-color: white;
    padding: 10px;
}

.full-container {
    /* Estilos Sección Portfolio / CV */
    width: 100%;
    display: inline-flex;
    background-color: #2f3b4f;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 6px 6px 8px #a5a5a5;
    background-image: url("../images/bg-cv-top.jpg");
    margin-bottom: 34px;
}

.left-container {
    /* Estilos Sección Portfolio / CV */
    width: 25%;
}

.center-container {
    /* Estilos Sección Portfolio / CV */
    width: 50%;
}

.right-container {
    /* Estilos Sección Portfolio / CV */
    width: 25%;
}

.contenedor-imagen {
    /* Estilos Sección Portfolio / CV */
    width: 300px;
    height: 300px;
    border-style: solid;
    border-color: #e0e0e0;
    border-width: 5px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px;
    cursor:default;
    transition: 400ms;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 12px #ffffff, inset 0 0 12px #ffffff;
    animation: pulso 2s linear 1s infinite;
}

@keyframes pulso {
    0% { box-shadow:0 0 12px #ffffff, inset 0 0 12px #ffffff; }
    50% { box-shadow:0 0 20px #ffffff, inset 0 0 20px #ffffff; }
    100% { box-shadow:0 0 12px #ffffff, inset 0 0 12px #ffffff; }
  }

.contenedor-imagen>img {
    /* Estilos Sección Portfolio / CV */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.youtube-video {
    /* Estilos Sección Portfolio / CV */
    aspect-ratio: 16 / 9;
    width: 100%;
    border-radius: 10px;
}

.right-container {
    position: relative; /* Mantiene la posición relativa */
  }
  
  .badges-container {
    position: absolute;
    bottom: 10px; /* Distancia desde la parte inferior */
    right: 10px; /* Distancia desde la derecha */
    display: flex;
    gap: 10px; /* Espacio entre los badges */
  }
  
  .css3-badge,
  .html5-badge,
  .js-badge {
    width: 30px;
    height: auto;
  }

  .wp-badge,
  .github-badge {
    width: 34.28px;
    height: auto;
  }

  .gsuite-badge {
    width: auto;
    height: 34.28px;
  }

  .css3-badge:hover, .js-badge:hover, .html5-badge:hover, .github-badge:hover {
    filter: drop-shadow(1px 1px rgb(180, 180, 180)) drop-shadow(1px -1px rgb(180, 180, 180))
    drop-shadow(-1px 1px rgb(180, 180, 180)) drop-shadow(-1px -1px rgb(180, 180, 180));
  }

  .wp-badge:hover, .gsuite-badge:hover {
    filter: drop-shadow(1px 1px rgb(90, 90, 90)) drop-shadow(1px -1px rgb(90, 90, 90))
    drop-shadow(-1px 1px rgb(90, 90, 90)) drop-shadow(-1px -1px rgb(90, 90, 90));
  }

  #badge-links {
    font-size: 0;
  }