
@media screen and (max-width: 665px) {
    #top-header-left-side {
        display: none;
    }
}

@media screen and (max-width: 665px) {
    #text-header {
        display: none;
    }
}

@media screen and (max-width: 665px) {
    #top-header-right-side {
        align-self: center;
        width: 100%;
    }
}

@media screen and (max-width: 665px) {
    #bottom-header {
        width: 100%;
    }
}

@media screen and (max-width: 1365px) {
    #main-box {
        max-width: 90%;
    }
}

@media screen and (max-width: 989px) {
    #main-box {
        padding-top: 50px;
    }
}

@media screen and (max-width: 592px) {
    #page-logo {
        height: 13vw;
    }
}

@media screen and (max-width: 1365px) {
    #name-box {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 665px) {
    #parrafo-main {
        display: none;
    }
}

@media screen and (max-width: 665px) {
    #parrafo-main-2 {
        display: none;
    }
}

@media screen and (min-width: 666px) {
    #parrafo-main-mobile {
        display: none;
    }
}

@media screen and (max-width: 1365px) {
    #front-text {
        font-size: 2.8vw;
    }
}

@media screen and (max-width: 1365px) {
    #front-text-2 {
        font-size: 2.8vw;
    }
}

@media screen and (max-width: 665px) {
    #front-text {
        font-size: 25px;
        text-align: justify;
        hyphens: auto;
    }
}

@media screen and (max-width: 665px) {
    #front-text-2 {
        font-size: 25px;
    }
}

@media screen and (max-width: 533px) {
    #top-footer {
        height: 80px;
    }
}

@media screen and (max-width: 665px) {
    #bottom-footer-links {
        font-size: 20px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 665px) {
    #bottom-footer-nav {
        margin-top: 20px;
    }
}


@media screen and (max-width: 665px) {
    #bottom-footer {
        height: 300px;
    }
}

@media screen and (max-width: 533px) {
    #bottom-footer {
        height: 260px;
    }
}

@media screen and (max-width: 665px) {
    #main-picture {
        max-width: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }
}

@media screen and (max-width: 665px) {
    #parrafo-div {
        width: 100%;
    }
}

@media screen and (max-width: 665px) {
    #parrafo-div-2 {
        width: 100%;
    }
}

@media screen and (max-width: 665px) {
    #parrafo-div-3 {
        width: 100%;
    }
}

@media screen and (max-width: 665px) {
    #picture-text {
        display: none;
    }
}

@media screen and (max-width: 665px) {
    #picture-text-2 {
        display: none;
    }
}

@media screen and (max-width: 665px) {
    #bottom-footer-nav {
        margin-top: 40px;
    }
}

@media screen and (max-width: 665px) {
    #front-text-2 {
        text-align: left;
    }
}

@media screen and (max-width: 665px) {
    .nav-vertical {
        display: none;
    }
}

@media screen and (max-width: 471px) {
    #disclaimer-text {
        font-size: 13px;
    }
}

/* Responsivo del Layout Sección Portfolio/CV */
@media screen and (max-width: 900px) {
    .column-1 {
        width: 50%;
    }
}

/* Responsivo del Layout Sección Portfolio/CV */
@media screen and (max-width: 600px) {
    .column-1 {
        width: 100%;
    }
}

/* Responsivo del Layout Sección Portfolio/CV */
@media screen and (max-width: 900px) {
    .column-2 {
        width: 50%;
    }
}

/* Responsivo del Layout Sección Portfolio/CV */
@media screen and (max-width: 600px) {
    .column-2 {
        width: 100%;
    }
}

/* Diseño responsivo Sección Portfolio/CV */
@media screen and (max-width: 665px) {
    .main-cv {
        max-width: 90%;
        padding-top: 40px;
        padding-bottom: 30px;
    }
}

/* Diseño responsivo Sección Portfolio/CV */
@media screen and (max-width: 665px) {
    #name-div {
        font-size: 25px;
        word-break: normal;
        font-weight: 600;
        margin-bottom: 10px;
    }
}

/* Diseño responsivo Sección Portfolio/CV */
@media screen and (max-width: 965px) {
    .full-container {
        justify-content: center;
    }
}

/* Diseño responsivo Sección Portfolio/CV */
@media screen and (max-width: 1504px) {
    .left-container {
        display: none;
    }
}

/* Diseño responsivo Sección Portfolio/CV */
@media screen and (max-width: 1504px) {
    .center-container {
        width: 100%;
    }
}

/* Diseño responsivo Sección Portfolio/CV */
@media screen and (max-width: 1504px) {
    .right-container {
        display: none;
    }
}

/* Diseño responsivo Sección Portfolio/CV */
@media screen and (max-width: 665px) {
    .contenedor-imagen {
        width: 200px;
        height: 200px;
    }
}

/* Diseño responsivo Sección Portfolio/CV */
@media screen and (max-width: 665px) {
    #name-title-1 {
        font-size: 15px;
        margin-bottom: 3px;
    }
}

/* Diseño responsivo Sección Portfolio/CV */
@media screen and (max-width: 665px) {
    #name-title-2 {
        font-size: 12px;
        margin-bottom: 3px;
    }
}

/* Diseño responsivo Sección Blog */
@media screen and (max-width: 1000px) {
    #blog-main {
        display: inline-block;
        width: 100%;
    }
}

/* Diseño responsivo Sección Blog */
@media screen and (max-width: 1000px) {
    #blog-left-side {
        width: 100%;
        margin-bottom: 30px;
    }
}

/* Diseño responsivo Sección Blog */
@media screen and (max-width: 1000px) {
    #blog-right-side {
        width: 100%;
    }
}

/* Diseño responsivo Sección Blog */
@media screen and (max-width: 1000px) {
    .blog-contenedor-imagen {
        width: 90%;
        max-width: 200px;
        margin-bottom: 0;
    }
}

/* Diseño responsivo Sección Blog */
@media screen and (max-width: 1000px) {
    #responsive-hr {
        display: none;
    }
}

/* Diseño responsivo Sección Blog */
@media screen and (max-width: 1000px) {
    #menu-blog-text {
        display: none;
    }
}

/* Diseño responsivo Sección Blog */
@media screen and (max-width: 1000px) {
    #blog-left-side-rrss {
        display: none;
    }
}

/* Diseño responsivo Sección Blog */
@media screen and (max-width: 1000px) {
    #menu-blog-title {
        text-align: center;
    }
}

/* Diseño responsivo Sección Blog */
@media screen and (max-width: 1000px) {
    #h1-blog {
        font-size: 30px;
        font-weight: 700;
    }
}

/* Diseño responsivo Sección Blog */
@media screen and (max-width: 665px) {
    #centered-img {
        width: 100%;
    }
}

/* Diseño responsivo Navbar de Bootstrap */
@media screen and (min-width: 1078px) {
    .navbar-nav {
        margin-top: 50px;
    }
}

/* Diseño responsivo Sección Contacto */
@media screen and (max-width: 1365px) {
    #main-box-container {
        display: inline-block;
        margin-top: 0px;
    }
}

/* Diseño responsivo Sección Contacto */
@media screen and (max-width: 1365px) {
    #contact-right-side {
        box-shadow: 20px 20px 35px #888888;
        width: 80%;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Diseño responsivo Sección Contacto */
@media screen and (max-width: 1365px) {
    #contact-left-side {
        margin-bottom: 60px;
        width: 100%;
    }
}

/* Diseño responsivo Sección Contacto */
@media screen and (max-width: 1365px) {
    #form-size {
        width: 60%;
    }
}

/* Diseño responsivo Sección Contacto */
@media screen and (max-width: 575px) {
    #form-size {
        width: 100%;
    }
}

/* Diseño responsivo Sección Sobre Mí */
@media screen and (max-width: 1365px) {
    #about-mb-container {
        display: inline-block;
        margin-top: 0px;
    }
}

/* Diseño responsivo Sección Sobre Mí */
@media screen and (max-width: 1365px) {
    #about-left-side {
        width: 600px;
        height: 700px;
        margin-left: auto;
        margin-right: auto;
        background-attachment: local;
        background-position:top;
    }
}

/* Diseño responsivo Sección Sobre Mí */
@media screen and (max-width: 760px) {
    #about-left-side {
        width: 100%;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        background-attachment: local;
        background-position:top;
    }
}

/* Diseño responsivo Sección Sobre Mí */
@media screen and (max-width: 1365px) {
    #about-right-side {
        margin-top: 60px;
        width: 100%;
    }
}

/* Diseño responsivo Sección Sobre Mí */
@media screen and (max-width: 1365px) {
    #about-form-size {
        width: 60%;
    }
}

/* Diseño responsivo Sección Sobre Mí */
@media screen and (max-width: 575px) {
    #about-form-size {
        width: 100%;
    }
}

/* Diseño responsivo Sección Sobre Mí */
@media screen and (max-width: 575px) {
    #about-font {
        font-size: 25px;
    }
}

/* Diseño responsivo Sección Sobre Mí */
@media screen and (min-width: 1921px) {
    #about-font {
        font-size: 2vw;
    }
}

/* Diseño responsivo Sección Sobre Mí */
@media screen and (min-width: 1365px) and (max-width: 1920px) {
    #about-font {
        font-size: 2vw;
    }
}

/* Diseño responsivo Sección Sobre Mí */
@media screen and (max-width: 1365px) {
    #about-mb-container {
        padding-bottom: 30px;
    }
}

@media screen and (max-width: 570px) {
    .navbar-toggler {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 1199px) {
    #bottom-header {
        height: 80px;
    }
}

@media screen and (max-width: 1199px) {
    #bottom-header.scrolled {
        height: 80px;
    }
}

@media screen and (max-width: 1199px) {
    #navbar-size {
        margin-top: -40px;
    }
}

@media screen and (max-width: 1199px) {
    .spacer {
        height: 120px;
    }
}